*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFFFFF;
    

    
}
header .header-container{
    width: 85%;
    max-width: 1380px;
    display: flex;
    justify-content: space-between;
   
    margin: 0 auto;
    align-items: center;
    padding: 16px 16px;

}

.header-container img{
    width: 139px;
    height: 60px;
}

nav {
    display: flex;
    gap: 346px;
    align-items: center;

}
nav ul {
    display: flex;
    gap: 32px;
    
}

nav ul li{
    list-style: none;
    font-size: 16px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color:#30B868;
    border-bottom: #30B868;
    cursor: pointer;
}

.btn1{
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.banner-container{
    width: 85%;
    max-width: 1380px;
    margin:0 auto;
    padding: 115.5px 179.5px;
    
    
    
}
.banner-container h1{
    font-size: 72px;
    font-weight:700 ;
    color: white;
}
.banner-container p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 16px;
    color: white;
}

.banner-container .color{
    color: #30B868;
}

.banner-container .button{
    margin:32px 179.5px;
    
    text-align: center;

    
}

.btn2{
    background-color:transparent;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin-right: 16px;
    border-radius: 4px;
}

#banner{
 background-image:linear-gradient(#001931CC,#001931CC) ,url("../images/banner.jpg");
    background-size: 100%;
    background-color: #001931CC 80%;
}

.font {

  font-weight: 400;
  font-style: normal;
}
