#how-work-2{
    width: 85%;
    max-width: 1380px;
    margin: 0 auto;
    
}
.content2{
    display: flex;
    gap: 60px;
    margin-top: 120px;
    
}
.info{
    margin-top: 102px;
}

.info .p1{
    color: #469165;
    font-size: 20;
    font-weight: 400;
    padding-bottom: 16px;
}

.info .p2{
    color:#627382;
    font-size: 20;
    font-weight: 400;
    padding-top: 16px;
}

.sl1{
    display: flex;
    gap: 6px;
    padding-top: 40px;
}
.sl2{
    display: flex;
    gap: 6px;
    padding-top: 16px;
}
.sl3{
    display: flex;
    gap: 6px;
    padding-top: 16px;
}
.sl4{
    display: flex;
    gap: 6px;
    padding-top: 16px;
}